<p>
    <mat-toolbar color="primary">

      <h1>Welcome To Spotify</h1>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
  </p>
<img src="/assets/5bJN.gif" alt="s" width="1000px" height="500px">
<br><br>
<a style="text-align: center;color: blue;padding-left: 390px;" routerLink="/listofsongs">Click Here To Listen All Songs,Then Add Any 5 Songs To PlayList </a>
